{
    "my_name": "@Amir Shirdel - Search & Discovery",
    "users_must_be_in_call": {
        "Abolfazl Sadri": "live:abolfazl.sadri69",
        "Erfan Rezvani": "live:erfan.re79",
        "Masood Hamzehkhany": "live:.cid.1f14d85cc112d076",
        "Reza Rostamian": "live:.cid.d332c152c53ad456",
        "Reza Rostamian 5": "live:d9e477ec3f8865fb"
    },
    "call_name_list": [
        "امير",
        "امير شيردلي",
        "امير شيردل",
        "amir",
        "amir shirdeli",
        "amir shirdel"
    ],
    "devops_user": "19:84854ad599cb4fa987f46dc4103a7636@thread.skype",
    "sobala_user": "19:a12cbe66dd104756b641dcafb86c774f@thread.skype"
}